@use 'mixins';

.button-root {
  border-radius: 0.5rem;
  border: none;
  background-color: rgba(var(--button-color));
  color: rgba(var(--button-text-color));
  font-weight: 500;
  font-family: var(--typography-font-family);
  user-select: none;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  transition-property: color, background-color, box-shadow;
  transition-duration: 150ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:focus-visible {
    outline: none;
    background-color: rgba(var(--button-color--hover));
  }
  &:active:not(:disabled) {
    transition-duration: 25ms;
    background-color: rgba(var(--button-color--active));
  }
  &:disabled {
    background-color: rgba(var(--button-color--disabled));
    color: rgba(var(--button-text-color--disabled));
  }
  @media (hover: hover) {
    &:hover:not(:active):not(:disabled) {
      background-color: rgba(var(--button-color--hover));
    }
  }

  @include mixins.shadows;
  @include mixins.variants;
  @include mixins.sizes;
  @include mixins.icon;
}
