/* ROOT CLASS */
.button-root {
  border-radius: 0.5rem;
  border: none;
  font-weight: 500;
  font-family: var(--md-sys-typescale-body-large-font-family-name);
  user-select: none;

  display: flex;
  flex-direction: row;
  align-items: center;

  transition-property: color, background-color, box-shadow;
  transition-duration: 150ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  background-color: var(--button-color);
  color: var(--button-text-color);
}
.button-root:focus-visible {
  outline: none;
  background-color: var(--button-color--hover);
}
.button-root:active:not(:disabled) {
  transition-duration: 25ms;
  background-color: var(--button-color--active);
}
.button-root:disabled {
  background-color: var(--button-color--disabled);
  color: var(--button-text-color--disabled);
}
.button-root.button-filled:not(:disabled) {
  box-shadow: 0px 2px 4px var(--button-shadow-color-1),
    0px 4px 6px 2px var(--button-shadow-color-2);
}
.button-root.button-filled:focus-visible {
  box-shadow: 0px 2px 5px var(--button-shadow-color-1),
    0px 6px 8px 3px var(--button-shadow-color-2);
}
.button-root.button-filled:active:not(:disabled) {
  box-shadow: 0px 2px 3px var(--button-shadow-color-1),
    0px 3px 4px 1px var(--button-shadow-color-2);
}
@media (hover: hover) {
  .button-root:hover:not(:active):not(:disabled) {
    background-color: var(--button-color--hover);
  }
  .button-root.button-filled:hover:not(:active):not(:disabled) {
    box-shadow: 0px 2px 5px var(--button-shadow-color-1),
      0px 6px 8px 3px var(--button-shadow-color-2);
  }
}

/* VARIANT COLORS */

/* Tonal - neutral */
.button-root.button-tonal.button-neutral {
  --button-color: rgba(var(--md-ref-palette-neutral-variant60), 0.2);
  --button-color--hover: rgba(var(--md-ref-palette-neutral-variant50), 0.3);
  --button-color--active: rgba(var(--md-ref-palette-neutral-variant50), 0.4);
  --button-color--disabled: rgba(var(--md-ref-palette-neutral-variant60), 0.1);

  --button-text-color: rgb(var(--md-ref-palette-neutral-variant20));
  --button-text-color--disabled: rgba(
    var(--md-ref-palette-neutral-variant20),
    0.4
  );
}
/* Tonal - primary */
.button-root.button-tonal.button-primary {
  --button-color: rgba(var(--md-ref-palette-primary40), 0.2);
  --button-color--hover: rgba(var(--md-ref-palette-primary40), 0.3);
  --button-color--active: rgba(var(--md-ref-palette-primary40), 0.4);
  --button-color--disabled: rgba(var(--md-ref-palette-primary40), 0.1);

  --button-text-color: rgb(var(--md-ref-palette-primary40));
  --button-text-color--disabled: rgba(var(--md-ref-palette-primary40), 0.4);
}
/* Filled - neutral */
.button-root.button-filled.button-neutral {
  --button-color: rgb(var(--md-ref-palette-neutral-variant20));
  --button-color--hover: rgb(var(--md-ref-palette-neutral-variant30));
  --button-color--active: rgb(var(--md-ref-palette-neutral-variant10));
  --button-color--disabled: rgba(var(--md-ref-palette-neutral-variant20), 0.6);

  --button-text-color: rgb(var(--md-ref-palette-neutral-variant98));
  --button-text-color--disabled: rgba(
    var(--md-ref-palette-neutral-variant98),
    0.8
  );

  --button-shadow-color-1: rgba(var(--md-ref-palette-neutral-variant20), 0.3);
  --button-shadow-color-2: rgba(var(--md-ref-palette-neutral-variant20), 0.15);
}
/* Filled - primary */
.button-root.button-filled.button-primary {
  --button-color: rgb(var(--md-ref-palette-primary40));
  --button-color--hover: rgb(var(--md-ref-palette-primary50));
  --button-color--active: rgb(var(--md-ref-palette-primary30));
  --button-color--disabled: rgba(var(--md-ref-palette-primary40), 0.6);

  --button-text-color: rgb(var(--md-ref-palette-primary98));
  --button-text-color--disabled: rgba(var(--md-ref-palette-primary98), 0.8);

  --button-shadow-color-1: rgba(var(--md-ref-palette-primary40), 0.3);
  --button-shadow-color-2: rgba(var(--md-ref-palette-primary40), 0.15);
}

@media (prefers-color-scheme: dark) {
  /* Tonal - neutral (dark) */
  .button-root.button-tonal.button-neutral {
    --button-color: rgba(var(--md-ref-palette-neutral-variant50), 0.2);
    --button-color--hover: rgba(var(--md-ref-palette-neutral-variant60), 0.3);
    --button-color--active: rgba(var(--md-ref-palette-neutral-variant60), 0.4);
    --button-color--disabled: rgba(
      var(--md-ref-palette-neutral-variant50),
      0.1
    );

    --button-text-color: rgb(var(--md-ref-palette-neutral-variant90));
    --button-text-color--disabled: rgba(
      var(--md-ref-palette-neutral-variant90),
      0.4
    );
  }
  /* Tonal - primary (dark) */
  .button-root.button-tonal.button-primary {
    --button-color: rgba(var(--md-ref-palette-primary80), 0.2);
    --button-color--hover: rgba(var(--md-ref-palette-primary80), 0.3);
    --button-color--active: rgba(var(--md-ref-palette-primary80), 0.4);
    --button-color--disabled: rgba(var(--md-ref-palette-primary80), 0.1);

    --button-text-color: rgb(var(--md-ref-palette-primary80));
    --button-text-color--disabled: rgba(var(--md-ref-palette-primary80), 0.4);
  }
  /* Filled - neutral (dark) */
  .button-root.button-filled.button-neutral {
    --button-color: rgb(var(--md-ref-palette-neutral-variant90));
    --button-color--hover: rgb(var(--md-ref-palette-neutral-variant98));
    --button-color--active: rgb(var(--md-ref-palette-neutral-variant80));
    --button-color--disabled: rgba(
      var(--md-ref-palette-neutral-variant90),
      0.6
    );

    --button-text-color: rgb(var(--md-ref-palette-neutral-variant10));
    --button-text-color--disabled: rgba(
      var(--md-ref-palette-neutral-variant10),
      0.8
    );

    --button-shadow-color-1: rgba(var(--md-ref-palette-neutral-variant90), 0.3);
    --button-shadow-color-2: rgba(
      var(--md-ref-palette-neutral-variant90),
      0.15
    );
  }
  /* Filled - primary (dark) */
  .button-root.button-filled.button-primary {
    --button-color: rgb(var(--md-ref-palette-primary80));
    --button-color--hover: rgb(var(--md-ref-palette-primary90));
    --button-color--active: rgb(var(--md-ref-palette-primary70));
    --button-color--disabled: rgba(var(--md-ref-palette-primary80), 0.6);

    --button-text-color: rgb(var(--md-ref-palette-primary10));
    --button-text-color--disabled: rgba(var(--md-ref-palette-primary10), 0.8);

    --button-shadow-color-1: rgba(var(--md-ref-palette-primary80), 0.3);
    --button-shadow-color-2: rgba(var(--md-ref-palette-primary80), 0.15);
  }
}

/* SIZES */
.button-root.button-small {
  height: 2rem;
  padding: 0 1rem;
  font-size: 1rem;
}
.button-root.button-medium {
  height: 2.25rem;
  padding: 0 1.125rem;
  font-size: 1.125rem;
}
.button-root.button-large {
  height: 2.5rem;
  padding: 0 1.25rem;
  font-size: 1.25rem;
}

/* ICON */
.button-root.button-small .button-start-icon,
.button-root.button-small .button-end-icon {
  width: 1.125rem;
  height: 1.125rem;
}
.button-root.button-medium .button-start-icon,
.button-root.button-medium .button-end-icon {
  width: 1.25rem;
  height: 1.25rem;
}
.button-root.button-large .button-start-icon,
.button-root.button-large .button-end-icon {
  width: 1.325rem;
  height: 1.325rem;
}

.button-root .button-start-icon,
[dir='rtl'] .button-root .button-end-icon {
  margin-right: 0.25rem;
  margin-left: 0;
}

.button-root .button-end-icon,
[dir='rtl'] .button-root .button-start-icon {
  margin-left: 0.25rem;
  margin-right: 0;
}
