body {
  background-color: rgb(var(--color-primary-neutral-95));
  color: rgb(var(--color-primary-neutral-10));

  font-family: var(--typography-font-family);
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: rgb(var(--color-primary-neutral-10));
    color: rgb(var(--color-primary-neutral-95));
  }
}
