:root {
  --md-source: 18, 81, 230;
  /* primary */
  --md-ref-palette-primary0: 0, 0, 0;
  --md-ref-palette-primary10: 0, 21, 80;
  --md-ref-palette-primary20: 0, 39, 127;
  --md-ref-palette-primary25: 0, 48, 152;
  --md-ref-palette-primary30: 0, 58, 178;
  --md-ref-palette-primary35: 0, 68, 205;
  --md-ref-palette-primary40: 12, 79, 228;
  --md-ref-palette-primary50: 57, 106, 254;
  --md-ref-palette-primary60: 104, 137, 255;
  --md-ref-palette-primary70: 144, 167, 255;
  --md-ref-palette-primary80: 182, 196, 255;
  --md-ref-palette-primary90: 220, 225, 255;
  --md-ref-palette-primary95: 239, 240, 255;
  --md-ref-palette-primary98: 250, 248, 255;
  --md-ref-palette-primary99: 254, 251, 255;
  --md-ref-palette-primary100: 255, 255, 255;
  /* secondary */
  --md-ref-palette-secondary0: 0, 0, 0;
  --md-ref-palette-secondary10: 22, 27, 44;
  --md-ref-palette-secondary20: 43, 48, 66;
  --md-ref-palette-secondary25: 54, 59, 77;
  --md-ref-palette-secondary30: 66, 70, 89;
  --md-ref-palette-secondary35: 77, 82, 101;
  --md-ref-palette-secondary40: 89, 93, 114;
  --md-ref-palette-secondary50: 114, 118, 139;
  --md-ref-palette-secondary60: 140, 144, 166;
  --md-ref-palette-secondary70: 166, 170, 193;
  --md-ref-palette-secondary80: 194, 197, 221;
  --md-ref-palette-secondary90: 222, 225, 249;
  --md-ref-palette-secondary95: 239, 240, 255;
  --md-ref-palette-secondary98: 250, 248, 255;
  --md-ref-palette-secondary99: 254, 251, 255;
  --md-ref-palette-secondary100: 255, 255, 255;
  /* tertiary */
  --md-ref-palette-tertiary0: 0, 0, 0;
  --md-ref-palette-tertiary10: 44, 18, 42;
  --md-ref-palette-tertiary20: 67, 39, 63;
  --md-ref-palette-tertiary25: 79, 50, 75;
  --md-ref-palette-tertiary30: 91, 61, 87;
  --md-ref-palette-tertiary35: 104, 72, 99;
  --md-ref-palette-tertiary40: 117, 84, 111;
  --md-ref-palette-tertiary50: 143, 108, 137;
  --md-ref-palette-tertiary60: 170, 133, 163;
  --md-ref-palette-tertiary70: 199, 159, 190;
  --md-ref-palette-tertiary80: 227, 186, 218;
  --md-ref-palette-tertiary90: 255, 215, 245;
  --md-ref-palette-tertiary95: 255, 235, 248;
  --md-ref-palette-tertiary98: 255, 247, 249;
  --md-ref-palette-tertiary99: 255, 251, 255;
  --md-ref-palette-tertiary100: 255, 255, 255;
  /* neutral */
  --md-ref-palette-neutral0: 0, 0, 0;
  --md-ref-palette-neutral10: 27, 27, 31;
  --md-ref-palette-neutral20: 48, 48, 52;
  --md-ref-palette-neutral25: 59, 59, 63;
  --md-ref-palette-neutral30: 71, 70, 74;
  --md-ref-palette-neutral35: 82, 82, 86;
  --md-ref-palette-neutral40: 94, 94, 98;
  --md-ref-palette-neutral50: 119, 118, 122;
  --md-ref-palette-neutral60: 145, 144, 148;
  --md-ref-palette-neutral70: 172, 170, 175;
  --md-ref-palette-neutral80: 200, 198, 202;
  --md-ref-palette-neutral90: 228, 225, 230;
  --md-ref-palette-neutral95: 242, 240, 244;
  --md-ref-palette-neutral98: 251, 248, 253;
  --md-ref-palette-neutral99: 254, 251, 255;
  --md-ref-palette-neutral100: 255, 255, 255;
  /* neutral-variant */
  --md-ref-palette-neutral-variant0: 0, 0, 0;
  --md-ref-palette-neutral-variant10: 26, 27, 35;
  --md-ref-palette-neutral-variant20: 47, 48, 56;
  --md-ref-palette-neutral-variant25: 58, 59, 67;
  --md-ref-palette-neutral-variant30: 69, 70, 79;
  --md-ref-palette-neutral-variant35: 81, 82, 91;
  --md-ref-palette-neutral-variant40: 93, 94, 103;
  --md-ref-palette-neutral-variant50: 118, 118, 128;
  --md-ref-palette-neutral-variant60: 144, 144, 154;
  --md-ref-palette-neutral-variant70: 170, 170, 180;
  --md-ref-palette-neutral-variant80: 198, 197, 208;
  --md-ref-palette-neutral-variant90: 226, 225, 236;
  --md-ref-palette-neutral-variant95: 240, 240, 250;
  --md-ref-palette-neutral-variant98: 250, 248, 255;
  --md-ref-palette-neutral-variant99: 254, 251, 255;
  --md-ref-palette-neutral-variant100: 255, 255, 255;
  /* error */
  --md-ref-palette-error0: 0, 0, 0;
  --md-ref-palette-error10: 65, 0, 2;
  --md-ref-palette-error20: 105, 0, 5;
  --md-ref-palette-error25: 126, 0, 7;
  --md-ref-palette-error30: 147, 0, 10;
  --md-ref-palette-error35: 168, 7, 16;
  --md-ref-palette-error40: 186, 26, 26;
  --md-ref-palette-error50: 222, 55, 48;
  --md-ref-palette-error60: 255, 84, 73;
  --md-ref-palette-error70: 255, 137, 125;
  --md-ref-palette-error80: 255, 180, 171;
  --md-ref-palette-error90: 255, 218, 214;
  --md-ref-palette-error95: 255, 237, 234;
  --md-ref-palette-error98: 255, 248, 247;
  --md-ref-palette-error99: 255, 251, 255;
  --md-ref-palette-error100: 255, 255, 255;
  /* light */
  --md-sys-color-primary-light: 12, 79, 228;
  --md-sys-color-on-primary-light: 255, 255, 255;
  --md-sys-color-primary-container-light: 220, 225, 255;
  --md-sys-color-on-primary-container-light: 0, 21, 80;
  --md-sys-color-secondary-light: 89, 93, 114;
  --md-sys-color-on-secondary-light: 255, 255, 255;
  --md-sys-color-secondary-container-light: 222, 225, 249;
  --md-sys-color-on-secondary-container-light: 22, 27, 44;
  --md-sys-color-tertiary-light: 117, 84, 111;
  --md-sys-color-on-tertiary-light: 255, 255, 255;
  --md-sys-color-tertiary-container-light: 255, 215, 245;
  --md-sys-color-on-tertiary-container-light: 44, 18, 42;
  --md-sys-color-error-light: 186, 26, 26;
  --md-sys-color-error-container-light: 255, 218, 214;
  --md-sys-color-on-error-light: 255, 255, 255;
  --md-sys-color-on-error-container-light: 65, 0, 2;
  --md-sys-color-background-light: 254, 251, 255;
  --md-sys-color-on-background-light: 27, 27, 31;
  --md-sys-color-surface-light: 254, 251, 255;
  --md-sys-color-on-surface-light: 27, 27, 31;
  --md-sys-color-surface-variant-light: 226, 225, 236;
  --md-sys-color-on-surface-variant-light: 69, 70, 79;
  --md-sys-color-outline-light: 118, 118, 128;
  --md-sys-color-inverse-on-surface-light: 242, 240, 244;
  --md-sys-color-inverse-surface-light: 48, 48, 52;
  --md-sys-color-inverse-primary-light: 182, 196, 255;
  --md-sys-color-shadow-light: 0, 0, 0;
  --md-sys-color-surface-tint-light: 12, 79, 228;
  --md-sys-color-surface-tint-color-light: 12, 79, 228;
  /* dark */
  --md-sys-color-primary-dark: 182, 196, 255;
  --md-sys-color-on-primary-dark: 0, 39, 127;
  --md-sys-color-primary-container-dark: 0, 58, 178;
  --md-sys-color-on-primary-container-dark: 220, 225, 255;
  --md-sys-color-secondary-dark: 194, 197, 221;
  --md-sys-color-on-secondary-dark: 43, 48, 66;
  --md-sys-color-secondary-container-dark: 66, 70, 89;
  --md-sys-color-on-secondary-container-dark: 222, 225, 249;
  --md-sys-color-tertiary-dark: 227, 186, 218;
  --md-sys-color-on-tertiary-dark: 67, 39, 63;
  --md-sys-color-tertiary-container-dark: 91, 61, 87;
  --md-sys-color-on-tertiary-container-dark: 255, 215, 245;
  --md-sys-color-error-dark: 255, 180, 171;
  --md-sys-color-error-container-dark: 147, 0, 10;
  --md-sys-color-on-error-dark: 105, 0, 5;
  --md-sys-color-on-error-container-dark: 255, 218, 214;
  --md-sys-color-background-dark: 27, 27, 31;
  --md-sys-color-on-background-dark: 228, 225, 230;
  --md-sys-color-surface-dark: 27, 27, 31;
  --md-sys-color-on-surface-dark: 228, 225, 230;
  --md-sys-color-surface-variant-dark: 69, 70, 79;
  --md-sys-color-on-surface-variant-dark: 198, 197, 208;
  --md-sys-color-outline-dark: 144, 144, 154;
  --md-sys-color-inverse-on-surface-dark: 27, 27, 31;
  --md-sys-color-inverse-surface-dark: 228, 225, 230;
  --md-sys-color-inverse-primary-dark: 12, 79, 228;
  --md-sys-color-shadow-dark: 0, 0, 0;
  --md-sys-color-surface-tint-dark: 182, 196, 255;
  --md-sys-color-surface-tint-color-dark: 182, 196, 255;
  /* label - small */
  --md-sys-typescale-label-small-font-family-name: 'ManropeVariable', sans-serif;
  --md-sys-typescale-label-small-font-family-style: Medium;
  --md-sys-typescale-label-small-font-weight: 500px;
  --md-sys-typescale-label-small-font-size: 11px;
  --md-sys-typescale-label-small-letter-spacing: 0.5px;
  --md-sys-typescale-label-small-line-height: 16px;
  /* label - medium */
  --md-sys-typescale-label-medium-font-family-name: 'ManropeVariable',
    sans-serif;
  --md-sys-typescale-label-medium-font-family-style: Medium;
  --md-sys-typescale-label-medium-font-weight: 500px;
  --md-sys-typescale-label-medium-font-size: 12px;
  --md-sys-typescale-label-medium-letter-spacing: 0.5px;
  --md-sys-typescale-label-medium-line-height: 16px;
  /* label - large */
  --md-sys-typescale-label-large-font-family-name: 'ManropeVariable', sans-serif;
  --md-sys-typescale-label-large-font-family-style: Medium;
  --md-sys-typescale-label-large-font-weight: 500px;
  --md-sys-typescale-label-large-font-size: 14px;
  --md-sys-typescale-label-large-letter-spacing: 0.1px;
  --md-sys-typescale-label-large-line-height: 20px;
  /* body - small */
  --md-sys-typescale-body-small-font-family-name: 'ManropeVariable', sans-serif;
  --md-sys-typescale-body-small-font-family-style: Regular;
  --md-sys-typescale-body-small-font-weight: 400px;
  --md-sys-typescale-body-small-font-size: 12px;
  --md-sys-typescale-body-small-letter-spacing: 0.4px;
  --md-sys-typescale-body-small-line-height: 16px;
  /* body - medium */
  --md-sys-typescale-body-medium-font-family-name: 'ManropeVariable', sans-serif;
  --md-sys-typescale-body-medium-font-family-style: Regular;
  --md-sys-typescale-body-medium-font-weight: 400px;
  --md-sys-typescale-body-medium-font-size: 14px;
  --md-sys-typescale-body-medium-letter-spacing: 0.25px;
  --md-sys-typescale-body-medium-line-height: 20px;
  /* body - large */
  --md-sys-typescale-body-large-font-family-name: 'ManropeVariable', sans-serif;
  --md-sys-typescale-body-large-font-family-style: Regular;
  --md-sys-typescale-body-large-font-weight: 400px;
  --md-sys-typescale-body-large-font-size: 16px;
  --md-sys-typescale-body-large-letter-spacing: 0.5px;
  --md-sys-typescale-body-large-line-height: 24px;
  /* headline - small */
  --md-sys-typescale-headline-small-font-family-name: 'ManropeVariable',
    sans-serif;
  --md-sys-typescale-headline-small-font-family-style: Regular;
  --md-sys-typescale-headline-small-font-weight: 400px;
  --md-sys-typescale-headline-small-font-size: 24px;
  --md-sys-typescale-headline-small-letter-spacing: 0px;
  --md-sys-typescale-headline-small-line-height: 32px;
  /* headline - medium */
  --md-sys-typescale-headline-medium-font-family-name: 'ManropeVariable',
    sans-serif;
  --md-sys-typescale-headline-medium-font-family-style: Regular;
  --md-sys-typescale-headline-medium-font-weight: 400px;
  --md-sys-typescale-headline-medium-font-size: 28px;
  --md-sys-typescale-headline-medium-letter-spacing: 0px;
  --md-sys-typescale-headline-medium-line-height: 36px;
  /* headline - large */
  --md-sys-typescale-headline-large-font-family-name: 'ManropeVariable',
    sans-serif;
  --md-sys-typescale-headline-large-font-family-style: Regular;
  --md-sys-typescale-headline-large-font-weight: 400px;
  --md-sys-typescale-headline-large-font-size: 32px;
  --md-sys-typescale-headline-large-letter-spacing: 0px;
  --md-sys-typescale-headline-large-line-height: 40px;
  /* display - small */
  --md-sys-typescale-display-small-font-family-name: 'ManropeVariable',
    sans-serif;
  --md-sys-typescale-display-small-font-family-style: Regular;
  --md-sys-typescale-display-small-font-weight: 400px;
  --md-sys-typescale-display-small-font-size: 36px;
  --md-sys-typescale-display-small-letter-spacing: 0px;
  --md-sys-typescale-display-small-line-height: 44px;
  /* display - medium */
  --md-sys-typescale-display-medium-font-family-name: 'ManropeVariable',
    sans-serif;
  --md-sys-typescale-display-medium-font-family-style: Regular;
  --md-sys-typescale-display-medium-font-weight: 400px;
  --md-sys-typescale-display-medium-font-size: 45px;
  --md-sys-typescale-display-medium-letter-spacing: 0px;
  --md-sys-typescale-display-medium-line-height: 52px;
  /* display - large */
  --md-sys-typescale-display-large-font-family-name: 'ManropeVariable',
    sans-serif;
  --md-sys-typescale-display-large-font-family-style: Regular;
  --md-sys-typescale-display-large-font-weight: 400px;
  --md-sys-typescale-display-large-font-size: 57px;
  --md-sys-typescale-display-large-letter-spacing: -0.25px;
  --md-sys-typescale-display-large-line-height: 64px;
  /* title - small */
  --md-sys-typescale-title-small-font-family-name: 'ManropeVariable', sans-serif;
  --md-sys-typescale-title-small-font-family-style: Medium;
  --md-sys-typescale-title-small-font-weight: 500px;
  --md-sys-typescale-title-small-font-size: 14px;
  --md-sys-typescale-title-small-letter-spacing: 0.1px;
  --md-sys-typescale-title-small-line-height: 20px;
  /* title - medium */
  --md-sys-typescale-title-medium-font-family-name: 'ManropeVariable',
    sans-serif;
  --md-sys-typescale-title-medium-font-family-style: Medium;
  --md-sys-typescale-title-medium-font-weight: 500px;
  --md-sys-typescale-title-medium-font-size: 16px;
  --md-sys-typescale-title-medium-letter-spacing: 0.15px;
  --md-sys-typescale-title-medium-line-height: 24px;
  /* title - large */
  --md-sys-typescale-title-large-font-family-name: 'ManropeVariable', sans-serif;
  --md-sys-typescale-title-large-font-family-style: Regular;
  --md-sys-typescale-title-large-font-weight: 400px;
  --md-sys-typescale-title-large-font-size: 22px;
  --md-sys-typescale-title-large-letter-spacing: 0px;
  --md-sys-typescale-title-large-line-height: 28px;
}
