:root {
  color-scheme: light dark;
}

body {
  margin: 0;
  padding: 0.5rem 1rem 1rem;
}

h1,
h2,
h3 {
  margin-block: 1rem;
}

h1:first-child,
h2:first-child,
h3:first-child {
  margin-block-start: 0;
}

h1,
h2 {
  font-weight: 700;
}

h1 {
  font-size: 4rem;
  letter-spacing: -0.1rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: -0.05rem;
}

h3 {
  font-size: 1.25rem;
  font-weight: 500;
}

h3,
.demo .demo-controls .demo-controls-label {
  color: rgba(var(--color-neutral-5), 0.85);
}

.demo {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  box-sizing: border-box;
  gap: 1rem;
}

.demo .demo-controls {
  height: calc(100vh - 35rem);
  overflow-y: auto;
  background-color: rgb(var(--color-neutral-95));
  padding: 1rem;
}

.demo .demo-controls .demo-controls-label {
  margin-bottom: 0.25rem;
  font-size: 0.875rem;
  user-select: none;
}

.demo .demo-controls .demo-controls-label:not(:first-of-type) {
  margin-top: 0.5rem;
}

.demo .demo-controls,
.demo-components {
  border-radius: 1rem;
  box-sizing: border-box;
}

.demo .demo-controls .demo-controls-row,
.demo-components {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.demo .demo-controls .demo-controls-row {
  gap: 0.5rem;
  flex-wrap: wrap;
}

.demo-components {
  gap: 1rem;
  padding: 1rem;
  border: 1px solid rgb(var(--color-neutral-85));
  display: flex;
  justify-content: center;
  align-items: center;
}

.demo .demo-components {
  height: 20rem;
}

.demo .demo-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
}

@media (min-width: 1024px) {
  .demo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .demo .demo-controls {
    height: 20rem;
  }
}

@media (min-width: 1440px) {
  .demo {
    grid-template-columns: 1fr 2fr;
  }
}

@media (prefers-color-scheme: dark) {
  .demo .demo-controls {
    background-color: rgb(var(--color-neutral-10));
  }

  h3,
  .demo .demo-controls .demo-controls-label {
    color: rgba(var(--color-neutral-98), 0.85);
  }

  .demo-components {
    border: 1px solid rgb(var(--color-neutral-20));
  }
}
