.controls-row,
.demo-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.controls-row {
  gap: 0.5rem;
}

.demo-row {
  gap: 1rem;
}

.demo-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
}

.margin-top {
  margin-top: 1rem;
}
