:root {
  /* TYPOGRAPHY */
  --typography-font-family: 'FigtreeVariable', sans-serif;

  /* COLORS */

  /* primary */
  --color-primary-5: 0, 12, 56;
  --color-primary-10: 0, 21, 80;
  --color-primary-15: 0, 30, 103;
  --color-primary-20: 0, 39, 127;
  --color-primary-25: 0, 48, 152;
  --color-primary-30: 0, 58, 178;
  --color-primary-35: 0, 68, 205;
  --color-primary-40: 12, 79, 228;
  --color-primary-45: 39, 93, 241;
  --color-primary-50: 57, 106, 254;
  --color-primary-55: 82, 122, 255;
  --color-primary-60: 104, 137, 255;
  --color-primary-65: 124, 152, 255;
  --color-primary-70: 144, 167, 255;
  --color-primary-75: 163, 181, 255;
  --color-primary-80: 182, 196, 255;
  --color-primary-85: 201, 210, 255;
  --color-primary-90: 220, 225, 255;
  --color-primary-95: 239, 240, 255;
  --color-primary-98: 250, 248, 255;

  --color-primary-main: var(--color-primary-40);
  --color-primary-light: var(--color-primary-55);
  --color-primary-dark: var(--color-primary-25);
  --color-primary-contrast: var(--color-primary-95);

  /* neutral */
  --color-neutral-5: 15, 17, 24;
  --color-neutral-10: 26, 27, 35;
  --color-neutral-15: 36, 37, 45;
  --color-neutral-20: 47, 48, 56;
  --color-neutral-25: 58, 59, 67;
  --color-neutral-30: 69, 70, 79;
  --color-neutral-35: 81, 82, 91;
  --color-neutral-40: 93, 94, 103;
  --color-neutral-45: 105, 106, 115;
  --color-neutral-50: 118, 118, 128;
  --color-neutral-55: 130, 131, 141;
  --color-neutral-60: 143, 144, 154;
  --color-neutral-65: 157, 157, 167;
  --color-neutral-70: 170, 170, 180;
  --color-neutral-75: 184, 184, 194;
  --color-neutral-80: 198, 198, 208;
  --color-neutral-85: 212, 211, 222;
  --color-neutral-90: 226, 225, 236;
  --color-neutral-95: 240, 240, 250;
  --color-neutral-98: 250, 248, 255;

  --color-neutral-main: var(--color-neutral-20);
  --color-neutral-light: var(--color-neutral-35);
  --color-neutral-dark: var(--color-neutral-5);
  --color-neutral-contrast: var(--color-neutral-95);

  /* secondary */
  --color-secondary-5: 22, 16, 0;
  --color-secondary-10: 35, 27, 0;
  --color-secondary-15: 47, 37, 0;
  --color-secondary-20: 60, 47, 0;
  --color-secondary-25: 73, 58, 0;
  --color-secondary-30: 86, 69, 0;
  --color-secondary-35: 100, 80, 0;
  --color-secondary-40: 114, 92, 0;
  --color-secondary-45: 127, 104, 14;
  --color-secondary-50: 141, 117, 28;
  --color-secondary-55: 154, 130, 41;
  --color-secondary-60: 168, 143, 53;
  --color-secondary-65: 182, 156, 65;
  --color-secondary-70: 197, 169, 76;
  --color-secondary-75: 211, 183, 88;
  --color-secondary-80: 226, 196, 100;
  --color-secondary-85: 240, 210, 113;
  --color-secondary-90: 255, 224, 126;
  --color-secondary-95: 255, 240, 200;
  --color-secondary-98: 255, 248, 240;

  --color-secondary-main: var(--color-secondary-40);
  --color-secondary-light: var(--color-secondary-55);
  --color-secondary-dark: var(--color-secondary-25);
  --color-secondary-contrast: var(--color-secondary-95);

  /* error */
  --color-error-5: 45, 0, 1;
  --color-error-10: 65, 0, 2;
  --color-error-15: 84, 0, 3;
  --color-error-20: 105, 0, 4;
  --color-error-25: 126, 0, 6;
  --color-error-30: 143, 15, 16;
  --color-error-35: 160, 30, 26;
  --color-error-40: 177, 43, 36;
  --color-error-45: 195, 56, 47;
  --color-error-50: 212, 68, 58;
  --color-error-55: 229, 80, 69;
  --color-error-60: 247, 93, 80;
  --color-error-65: 255, 113, 99;
  --color-error-70: 255, 137, 124;
  --color-error-75: 255, 159, 148;
  --color-error-80: 255, 180, 170;
  --color-error-85: 255, 199, 192;
  --color-error-90: 255, 218, 213;
  --color-error-95: 255, 237, 234;
  --color-error-98: 255, 248, 247;

  --color-error-main: var(--color-error-40);
  --color-error-light: var(--color-error-55);
  --color-error-dark: var(--color-error-25);
  --color-error-contrast: var(--color-error-95);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* COLORS - DARK */

    /* primary */
    --color-primary-main: var(--color-primary-80);
    --color-primary-light: var(--color-primary-95);
    --color-primary-dark: var(--color-primary-65);
    --color-primary-contrast: var(--color-primary-5);

    /* neutral */
    --color-neutral-main: var(--color-neutral-85);
    --color-neutral-light: var(--color-neutral-98);
    --color-neutral-dark: var(--color-neutral-70);
    --color-neutral-contrast: var(--color-neutral-5);

    /* secondary */
    --color-secondary-main: var(--color-secondary-80);
    --color-secondary-light: var(--color-secondary-95);
    --color-secondary-dark: var(--color-secondary-65);
    --color-secondary-contrast: var(--color-secondary-5);

    /* error */
    --color-error-main: var(--color-error-80);
    --color-error-light: var(--color-error-95);
    --color-error-dark: var(--color-error-65);
    --color-error-contrast: var(--color-error-5);
  }
}
